<h2 class="new_accnt">Welcome <%=@user.name %></h2>

<ul class="userheader">
    <li>Phone: <%= @user.phone%></li>
    <li>Email: <%= @user.email%></li>
    <li><%= link_to "new weather lookup", new_weather_path(:id => @user.id), class: "link" %></li>
    <li><%= link_to "Delete this account and all associated notifications", @user, method: :delete, class: "link" %></li>
</ul>

<ul>
    <% @weathers.each do |w|%>
        <div class="userweathers">
        <hr>
            <h4>Weather for <%= link_to w.address, weather_path(w.id), class: "link" %>
             <%= link_to "Delete this weather notification", w, method: :delete , class: "lastele" %>

            <%= link_to "Send this notification now",
            "/weathers-text/#{w.id}", method: :post, class: "lastele" %>
            </h4>

             <IFRAME src=<%= "http://forecast.io/embed/#lat=#{w.lat}&lon=#{w.lng}&name=#{w.address}" %> id="forecast_embed" type="text/html" frameborder="0" height="245"></IFRAME>


        </div>
    <% end %>
</ul>
