<div class="forms">
    <h2>New Weather Lookup</h2>
    <%= form_for @weather do |w| %>
        <div class="errors">
            <% if @weather.errors.any? %>
                <h4><%= pluralize(@weather.errors.count, "error") %> prohibited this post from being saved: </h4>
                <ul>
                    <% @weather.errors.full_messages.each do |msg| %>
                    <li class="error_msg"><%= msg %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>


        <p>Address: <%= w.text_field :address %></p>
        <%= w.hidden_field :user_id, :value => params[:id] %>

        <h4 class="opthdr">Options:</h4>

        <p class="options">Daily weather texts <br> before you wake up?
        <%= w.check_box :daily %></p>

        <p class="options">Weekly weather texts <br> on Sunday nights?
        <%= w.check_box :weekly %></p>


        <p class="options">Weather alerts if it will <br> rain
        in the next 2 hours?
        <%= w.check_box :weekly %></p>





        <%= w.submit "Submit", class: "submit" %>

        <h5>21 Stillman St San Francisco, CA 94107</h5>

    <% end %>
</div>

