<h2 class="new_accnt">New Weather Lookup</h2>


<div class="forms">
    <%= form_for @weather do |w| %>
        <div class="errors">
            <% if @weather.errors.any? %>
                <h4><%= pluralize(@weather.errors.count, "error") %> prohibited this post from being saved: </h4>
                <ul>
                    <% @weather.errors.full_messages.each do |msg| %>
                    <li class="error_msg"><%= msg %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>

        <div class="field">

        <p>Address: <%= w.text_field :address %></p>
        <%= w.hidden_field :user_id, :value => params[:id] %>

        <h4 class="opthdr">Options:</h4>

        <p class="options"><%= w.check_box :daily %>Daily weather texts before you wake up?</p>

        <p class="options"><%= w.check_box :weekly %>Weekly weather texts on Sunday nights?</p>


        <p class="options"><%= w.check_box :weekly %>Weather alerts if it will rain
        in the next 2 hours?</p>
</div>



        <%= w.submit "Submit", class: "submit" %>

    <% end %>
</div>

