<h2 class="new_accnt">Weather for <%= @weather.address%></h2>

<div class="show">
    <p><%= link_to "Click here to go back to your account", user_path(@weather.user_id), class: "link" %></p>


    <p>Lat <%= @weather.lat %></p>
    <p>Lng <%= @weather.lng %></p>

    <p>This location is signed-up for the following notifications</p>
    <ul>
        <% if @weather.daily %>
            <li>daily</li>
        <% end %>
        <% if @weather.weekly %>
            <li>weekly</li>
        <% end %>
        <% if @weather.temp_ntf %>
            <li>temperature</li>
        <% end %>
        <% if @weather.rain %>
            <li>rain</li>
        <% end %>
    </ul>

<hr>

    <IFRAME src=<%= "http://forecast.io/embed/#lat=#{@weather.lat}&lon=#{@weather.lng}&name=#{@weather.address}" %> class="embed" type="text/html" frameborder="0" height="245"></IFRAME>

    <iframe
    class="embed map"
    src= "https://www.google.com/maps/embed/v1/view?key=AIzaSyANsWZLOyo2JZHehEd2cZuSBo9CBikIVkU
      &center= <%= @weather.lat %>, <%= @weather.lng%>&zoom=13"%>>
    </iframe>

</div>
