<!DOCTYPE html>
<html>
<head>
  <title>WeatherAlert</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav_bar">
  <ul class="nav_left">
      <li class="nav_first left">WeatherAlert</li>
      <li class="nav_el left"><%= link_to "Home", root_path, class: "link" %></li>
      <li class="nav_el left"><%= link_to "About", welcome_about_path, class: "link" %></li>
  </ul>
  <ul class="nav_right">
      <li class="nav_el right"><%= link_to "New Account", new_user_path, class: "link" %></li>
      <li class="nav_el right"><%= link_to "Sign-In", signin_path, class: "link" %></li>
  </ul>
</div>


<div class="content">
    <%= yield %>
</div>

<div class="footer">

    <p class="right"><a href="mailto:blowenstein93@gmail.com">Email me here</a></p>
</div>

</body>
</html>
