<!DOCTYPE html>
<html>
<head>
  <title>WeatherAlert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav_bar">
    <li><%= link_to "Home", root_path, class: "link" %></li>
    <li><%= link_to "New Lookup", new_weather_path, class: "link" %></li>
</ul>

<%= yield %>

</body>
</html>
