<!DOCTYPE html>
<html>
<head>
  <title>WeatherAlert</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav_bar">
    <li class="nav_el"><%= link_to "Home", root_path, class: "link" %></li>
    <li class="nav_el"><%= link_to "New Account", new_user_path, class: "link" %></li>
    <li class="nav_el"><%= link_to "About", welcome_about_path, class: "link" %></li>
    <li class="nav_el"><%= link_to "Sign-In", signin_path, class: "link" %></li>
</ul>

<div class="content">
    <%= yield %>
</div>

<div class="footer">
    <p class="left">If you don't have an account yet, please sign up <%= link_to "here", new_user_path %></p>
    <p class="right">Email me at <a href="mailto:blowenstein93@gmail.com"> blowenstein93@gmail.com</a></p>
</div>

</body>
</html>
